altair
bokeh
duckdb
dask[complete] !=2025.1.0
dask-expr
einops
evoc
fast-hdbscan
fastjsonschema
fastnode2vec
glasbey
hdbscan
ipykernel
ipympl
ipywidgets
jupyterlab
jupyter-server-proxy
magic-duckdb
marimo[sql]
networkx
oat-python
panel
partition-igraph
plotly
python-dotenv
python-igraph
scikit-network
sentence_transformers
sentencepiece
thisnotthat
tqdm
umap-learn[plot]
vectorizers
xgi
git+https://github.com/tutteinstitute/datamapplot.git
git+https://github.com/tutteinstitute/toponymy.git
